<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.bcc.mapper.business.AdPublishMapper">
  <resultMap id="BaseResultMap" type="cn.ac.bcc.model.business.AdPublish">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ad_id" jdbcType="INTEGER" property="adId" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>

  <insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO bcc_ad_publish
    (`ad_id`, `serial_number`, `publish_time`, `type`)
    VALUES
    <foreach collection="list" item="adPublish" index="index" separator=",">
      (#{adPublish.adId,jdbcType=INTEGER},#{adPublish.serialNumber,jdbcType=VARCHAR},#{adPublish.publishTime,jdbcType=TIMESTAMP},#{adPublish.type,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>