<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.bcc.mapper.business.AdvertisementMapper">
  <resultMap id="BaseResultMap" type="cn.ac.bcc.model.business.Advertisement">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="industry_code" jdbcType="VARCHAR" property="industryCode" />
    <result column="is_third_party" jdbcType="VARCHAR" property="isThirdParty" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <select id="selectAdvertisement" resultType="cn.ac.bcc.model.business.Advertisement" parameterType="cn.ac.bcc.model.business.Advertisement">
    select t1.id id, t1.file_path filePath, t1.file_name fileName, t1.state state, t1.source source,
    t1.industry_code industryCode, t1.is_third_party isThirdParty, t1.company_id companyId, t1.url url,t1.add_time addTime,t1.type type,
    t2.full_name industryName, t3.`name` companyName from bcc_advertisement t1
    left join bcc_industry t2 on t1.industry_code = t2.full_code
    left join bcc_company t3 on t1.company_id = t3.ID
    where 1=1
    <if test="advertisement.source !=null and advertisement.source !=''">
      and t1.source = source
    </if>
    order BY id desc
  </select>
</mapper>