<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.bcc.mapper.business.AreaMapper">
  <resultMap id="BaseResultMap" type="cn.ac.bcc.model.business.Area">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="area_code" jdbcType="INTEGER" property="areaCode" />
    <result column="post_code" jdbcType="INTEGER" property="postCode" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort_order" jdbcType="TINYINT" property="sortOrder" />
    <result column="default_frequency" jdbcType="VARCHAR" property="defaultFrequency" />
    <result column="select_program" jdbcType="VARCHAR" property="selectProgram" />
    <result column="available_program" jdbcType="VARCHAR" property="availableProgram" />
  </resultMap>

  <select id="searchArea" resultType="cn.ac.bcc.model.business.Area" parameterType="cn.ac.bcc.model.business.Area">
  select t.id id, t.area_name areaName, t.parent_id parentId, t.short_name shortName, t.area_code areaCode,
   t.post_code postCode , t.level level, t.sort_order sortOrder, t.default_frequency defaultFrequency,
   t.select_program selectProgram, t.available_program availableProgram,t1.area_name city, t2.area_name province from bcc_area t ,
  (select * from bcc_area t where t.`level` = 2 ) t1,
  (select * from bcc_area t where t.`level` = 1 ) t2
  where t.`level`=3 and  t.parent_id = t1.id and t1.parent_id = t2.id
  <if test="area.id!=null">
    <choose>
      <when test="area.level!=null and area.level == 1">
          and t.parent_id in (select t1.id from bcc_area t1 where t1.parent_id = #{area.id})
      </when>
      <when test="area.level!=null and area.level == 2">
        and t.parent_id = #{area.id}
      </when>
      <when test="area.level!=null and area.level == 3">
        and t.id = ${area.id}
      </when>
      <otherwise>
        and t.id = #{area.id}
      </otherwise>
    </choose>

  </if>

    order BY id
  </select>
</mapper>