<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.bcc.mapper.business.DeviceMapper">
    <resultMap id="BaseResultMap" type="cn.ac.bcc.model.business.Device">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="serial_number" jdbcType="VARCHAR" property="serialNumber"/>
        <result column="private_key" jdbcType="VARCHAR" property="privateKey"/>
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
        <result column="register_account" jdbcType="INTEGER" property="registerAccount"/>
        <result column="bind_account" jdbcType="INTEGER" property="bindAccount"/>
        <result column="bind_phone" jdbcType="VARCHAR" property="bindPhone"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="area_id" jdbcType="INTEGER" property="areaId"/>
        <result column="debug_account" jdbcType="INTEGER" property="debugAccount"/>
        <result column="work_frequency" jdbcType="VARCHAR" property="workFrequency"/>
    </resultMap>

    <select id="selectDebugDevice" resultType="cn.ac.bcc.model.business.Device" parameterType="cn.ac.bcc.model.business.Device">
    select d.id id, d.serial_number serialNumber, d.private_key privateKey, d.register_time registerTime,
           d.register_account registerAccount, d.bind_account bindAccount, d.bind_phone bindPhone, d.`status` status,
           d.area_id areaId, d.debug_account debugAccount, u.userName registerName from bcc_device d left join bcc_user u on d.register_account=u.id WHERE 1=1
        <if test="device.id != null">
            and d.id = #{device.id}
        </if>
        <if test="device.serialNumber != null and device.serialNumber != ''">
            and d.serial_number = #{device.serialNumber}
        </if>
        <if test="device.registerAccount != null">
            and d.register_account = #{device.registerAccount}
        </if>
        <if test="device.debugAccount != null">
            and d.debug_account = #{device.debugAccount}
        </if>
        <if test="device.status != null">
            and d.status = #{device.status}
        </if>
        ORDER BY id desc
  </select>
    <update id="updateStatusByNum">
        update BCC_DEVICE d SET d.STATUS = #{status}
        where d.serial_number = #{serialNumber}
    </update>




</mapper>