<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.bcc.mapper.business.DeviceViewMapper">
  <resultMap id="BaseResultMap" type="cn.ac.bcc.model.business.DeviceView">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="private_key" jdbcType="VARCHAR" property="privateKey" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="register_account" jdbcType="INTEGER" property="registerAccount" />
    <result column="bind_account" jdbcType="INTEGER" property="bindAccount" />
    <result column="bind_phone" jdbcType="VARCHAR" property="bindPhone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="debug_account" jdbcType="INTEGER" property="debugAccount" />
    <result column="work_frequency" jdbcType="VARCHAR" property="workFrequency" />
    <result column="program_ids" jdbcType="VARCHAR" property="programIds" />
    <result column="on_off_line" jdbcType="INTEGER" property="onOffLine" />
    <result column="track_no" jdbcType="VARCHAR" property="trackNo" />
    <result column="ex_status" jdbcType="INTEGER" property="exStatus" />
    <result column="register_name" jdbcType="VARCHAR" property="registerName" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="version1" jdbcType="VARCHAR" property="version1" />
    <result column="version2" jdbcType="VARCHAR" property="version2" />
  </resultMap>
  <select id="selectDeviceView" resultMap="BaseResultMap">
    select t.* from bcc_device_view t where 1=1
    <if test="deviceView.serialNumber != null">
      <![CDATA[and  (t.serial_number like "%"#{deviceView.serialNumber}"%" or t.serial_number LIKE "%"#{deviceView.serialNumber}"%")  ]]>
    </if>
    <if test="deviceView.areaId != null">
      and t.area_id = #{deviceView.areaId}
    </if>
    <if test="deviceView.cityId != null">
      and t.city_id = #{deviceView.cityId}
    </if>
    <if test="deviceView.provinceId != null">
      and t.province_id = #{deviceView.provinceId}
    </if>
    <if test="deviceView.status != null">
      and t.status = #{deviceView.status}
    </if>
    ORDER BY t.register_time desc
  </select>
</mapper>