<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.bcc.mapper.business.DeviceToVideoMapper">
  <resultMap id="BaseResultMap" type="cn.ac.bcc.model.business.DeviceToVideo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="self_video_info" jdbcType="VARCHAR" property="selfVideoInfo" />
    <result column="company_video_info" jdbcType="VARCHAR" property="companyVideoInfo" />
    <result column="custom_video_info" jdbcType="VARCHAR" property="customVideoInfo" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <select id="searchList" resultType="cn.ac.bcc.model.business.DeviceToVideo">
    select t2.id id,t1.serial_number serialNumber,t2.self_video_info selfVideoInfo,
    t2.company_video_info companyVideoInfo, t2.custom_video_info customVideoInfo, t2.update_time updateTime from bcc_device t1 LEFT  JOIN  bcc_device_to_video t2
    on t1.serial_number = t2.serial_number where 1=1
    <if test="serialNumber != null and serialNumber != ''">
      and t1.serial_number = #{serialNumber}
    </if>
    ORDER BY t1.register_time DESC
  </select>
</mapper>