<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.bcc.mapper.business.IndustryMapper">
  <resultMap id="BaseResultMap" type="cn.ac.bcc.model.business.Industry">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="grand_code" jdbcType="VARCHAR" property="grandCode" />
    <result column="grand_name" jdbcType="VARCHAR" property="grandName" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
    <result column="full_code" jdbcType="VARCHAR" property="fullCode" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <select id="getIndustryByParentCode" resultType="cn.ac.bcc.model.business.Industry" parameterType="cn.ac.bcc.model.business.Industry">
    select b.id id, b.grand_code grandCode, b.grand_name grandName, b.parent_code parentCode,b.parent_name parentName,
          b.full_code fullCode, b.full_name fullName, b.description description, b.create_date createDate, b.update_date updateDate
    from bcc_industry b where 1=1
    <if test="industry.grandCode == null or industry.grandCode == ''">
      and b.grand_code is null
    </if>
    <if test="industry.grandCode != null and industry.grandCode != ''">
      and b.grand_code = #{industry.grandCode}
    </if>
    <if test="industry.parentCode == null or industry.parentCode == ''">
      and b.parent_code is null
    </if>
    <if test="industry.parentCode != null and industry.parentCode != ''">
      and b.parent_code = #{industry.parentCode}
    </if>
    ORDER BY b.full_code asc
  </select>
</mapper>