<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.bcc.mapper.business.IndustryMapper">
  <resultMap id="BaseResultMap" type="cn.ac.bcc.model.business.Industry">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="grand_code" jdbcType="VARCHAR" property="grandCode" />
    <result column="grand_name" jdbcType="VARCHAR" property="grandName" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
    <result column="full_code" jdbcType="VARCHAR" property="fullCode" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>