<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.bcc.mapper.business.VideoPublishMapper">
    <resultMap id="BaseResultMap" type="cn.ac.bcc.model.business.VideoPublish">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="video_id" jdbcType="INTEGER" property="videoId"/>
        <result column="serial_number" jdbcType="VARCHAR" property="serialNumber"/>
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>

    <insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO bcc_video_publish
        (`video_id`, `serial_number`, `publish_time`, `type`)
        VALUES
        <foreach collection="list" item="videoPublish" index="index" separator=",">
            (#{videoPublish.videoId,jdbcType=INTEGER},#{videoPublish.serialNumber,jdbcType=VARCHAR},#{videoPublish.publishTime,jdbcType=TIMESTAMP},#{videoPublish.type,jdbcType=INTEGER})
        </foreach>
    </insert>
</mapper>